* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    background: linear-gradient(1deg, wheat, rgb(235, 220, 220));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
  }
  #tetris{
    background-color: white;
    box-shadow: 0 0 10px 2px lightgrey;
  }
  
  #game-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  
  
  #left-panel {
    font-family: cursive;
    width: 300px;
    height: 240px;
    background-color: white;
    box-shadow:0 0 10px 2px lightgrey;
    padding: 10px;
    margin-right: 90px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Align center horizontally */
    justify-content: center; /* Align center vertically */
  }
  
  #right-panel {
    font-family: cursive;
    width: 320px;
    height:240px;
    background-color: white;
    box-shadow:0 0 10px 2px lightgrey;
    padding: 5px;
    margin-left: 90px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Align center horizontally */
    justify-content: center; /* Align center vertically */
  }
  #left-panel, #right-panel{
    width: 300px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  
  #rules-container {
    width: 80%;
    max-width: 800px;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  
  
  #game{
    font-size: 40px;
    color: #880ED4;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
  }
  
  #ins {
    font-size: 25px;
    font-family: cursive;
    color: #880ED4;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  
  #point{
  align-items: center;
  margin-bottom: 10px;
  }
  
  #scoreb {
    margin-top: 10px;
    /* margin-bottom: 10px; */
  }
  
  #start-button,
  #instructions-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #880ED4;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    /* margin-bottom: 15px; */
    cursor: pointer;
  }
  
  .hidden {
    display: none;
  } 